<p-toast></p-toast>
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>

        <span class="animated-text" style="font-family: Venera900;  color: #D97A07;"><h2>Add project information</h2></span>
        <br>
       <p class="animated-text"> Discover the possibilities when you collaborate with your team. Edit project information at any time in the project settings. </p>
       <br>
       
        <form [formGroup]="resetPasswordForm" (ngSubmit)="save()">
          <div class="field p-fluid">
            <label for="title" class="animated-text">Title *</label>
            <input class="animated-text" pInputText id="name" type="text" formControlName="name" />
            <div *ngIf="resetPasswordForm.get('name').hasError('required') && resetPasswordForm.get('name').touched">
                <small id="username-help" class="p-error">Title is required.</small>
              
            </div>
          </div>
  
          <div class="field p-fluid">
            <label  class="animated-text" for="key">Creator *</label>
            <input  class="animated-text" pInputText id="projectCreator" type="text" formControlName="projectCreator" />
            <div *ngIf="resetPasswordForm.get('projectCreator').hasError('required') && resetPasswordForm.get('projectCreator').touched">
              <small id="username-help" class="p-error">ProjectCreator is required.</small>
            </div>
          </div>

          <div class="field">
            <label for="startDate">Start Date</label><br>
            <input formControlName="startDate" class="Input" id="startDate" type="date" placeholder="Start Date" pInputText>
          </div>



          <div class="field">
            <label for="endDate">End Date</label><br>
            <input formControlName="endDate" class="Input" id="endDate" type="date" placeholder="End Date" pInputText>
          </div>

          <div class="field">
            <label for="users">Select Users</label>
            <p-multiSelect
              [options]="services"
              formControlName="users"
              optionLabel="username"
              display="chip"
              [filter]="true"
              [showToggleAll]="false"
              placeholder="Select Users">
            </p-multiSelect>
          </div>
        
          <button pButton pRipple label="Save" type="submit" class="mr-3 p-button-raised animated-text"></button>
        </form>
      </section>
    </div>

    <div class="col-12 md:col-6 overflow-hidden">
      <img   src="assets/agile.png" alt="Image" class="md:ml-auto block md:h-full animated-image" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); width: 500px" />
    </div>
  </div>
  





























<!---<div class="card p-fluid">
    <h5 >Add Project Information</h5>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <img src="assets/folder.png" style="width: 200px; height: 200px;" alt="Folder Icon">
      </div>
      <div class="text-center mb-3">
        <button type="button" class="btn btn-primary" style="width: 200px;">Update</button>
      </div>

    <div class="field ">
        <label htmlFor="name1">Name</label>
        <input pInputText id="name1" type="text" />
    </div>
</div>
   
   ---->
   
   <!----<div class="text-center ">
<div class="surface-card p-4 shadow-2 border-round w-full  ">
    <div class="text-center mb-5">
        <img src="assets/demo/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        <span class="text-600 font-medium line-height-3">Don't have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
    </div>

    <div>
        <label for="email1" class="block text-900 font-medium mb-2">Email</label>
        <input id="email1" type="text" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Password</label>
        <input id="password1" type="password" pInputText class="w-full mb-3">

        <div class="flex align-items-center justify-content-between mb-6">
          
            <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
        </div>

        <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
    </div>
</div></div>--->
 
