


<style>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }</style>
  <div class="col-12">
  <div class="card">
    <div class="container">
      <h5> Projects</h5>

      <p-button [routerLink]="['/addproject']" routerLinkActive="router-link-active"  label="+ Add" />
   </div>

    <p-table #dt1 [value]="depts" dataKey="id" [paginator]="false" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"   responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row" fxLayoutAlign="center center" style="align-items: center;">

         <div fxLayoutAlign="center center" style="align-items: center;" fxLayoutGap="10px">

      </div>
      <!-----
      <span class="p-input-icon-left mb-2">
        <i class="pi pi-search"></i>
        <input pInputText
               type="text"
               style="height: 45px;"
               #filter

               (keyup.enter)="searchByName(filter.value)"
               placeholder="Search"
               class="w-full"/>
    </span>-->

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
            <th style="min-width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    Title

                </div>
              </th>
          <th style="min-width: 8rem">
            <div class="flex justify-content-between align-items-center">
                Team Lead

            </div>
          </th>
          <th style="min-width: 8rem">
            <div class="flex justify-content-between align-items-center">
                Start Date

            </div>
          </th>
          <th style="min-width: 8rem">
            <div class="flex justify-content-between align-items-center">
                End Date

            </div>
          </th>
         
          <th style="min-width: 8rem">
            <div class="flex justify-content-between align-items-center">
                Team Member

            </div>
          </th>
        


          <th style="min-width: 23rem">
            <div class="flex justify-content-between align-items-center">
              Actions

            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"  let-element>
        <tr>


          <td>{{ element.name }}</td>

     


          <td>{{ element.projectCreator }}</td>

          <td>{{ element.startDate }}</td>

          <td>{{ element.endDate }}</td>

          <td>{{ element.users[0].username }}</td>

        


        







          <td>
            <button mat-icon-button (click)="regler(element.id)" matTooltip="Edit Information">
                <mat-icon color="primary" style="color: #0D2E4D;">edit</mat-icon>
            </button>

            <!--  <button mat-icon-button  (click)="editEmployee(element.id)"  matTooltip="Edit Information">
            <mat-icon color="primary" style="color: #0D2E4D;">edit</mat-icon>
          </button>


           Affiche le bouton uniquement si element.status est égal à 0 -->









        <!---- <button mat-icon-button color="warn" (click)="confirmDelete(element.id,element.title)"   matTooltip="Delete Team member">
            <mat-icon >delete</mat-icon>
          </button>-->

         <button  mat-icon-button (click)="openDialog('0ms', '0ms',element.id)">    <mat-icon color="primary" style="color: #dd1111;">delete</mat-icon></button>
        </td>

        </tr>
      </ng-template>

      </p-table>

  </div>

  </div>
